#rv-variant-swatches {
  display:flex;
  gap:10px;
  flex-wrap:wrap;
  margin-top:10px;
}

.rv-swatch{
  width:36px;
  height:36px;
  border-radius:50%;
  border:1px solid #ccc;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:11px;
  background:white;
  transition:all .2s ease;
}

.rv-swatch:hover{
  border-color:black;
}

.rv-swatch.active{
  border:2px solid #000;
}